<div class="border-right p-1" id="sidebar">
    <h3 class="text-light text-center">Poyecto Biblioteca</h3>
    <hr class="text-light">

    <ul class="list-group">
        <li class="list-group-item cursor" routerLink="formhome" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true}">
            Home
        </li>

        <li class="list-group-item active cursor" routerLink="formauthor" routerLinkActive="active">
            Autor
        </li>

        <li class="list-group-item active cursor" routerLink="formloan" routerLinkActive="active">
            Prestamo
        </li>

        <li class="list-group-item active cursor" routerLink="formstudent" routerLinkActive="active">
            Estudiante
        </li>

        <li class="list-group-item active cursor" routerLink="formbook" routerLinkActive="active">
            Libro
        </li>

    </ul>
</div>