<div>
  <div>
    <h1>List</h1>
  </div>
  <hr>
  <button class="btn btn-primary btn-lg-custom">Añadir</button>
</div>
<hr>
<table class="table table-box text-center">
  <thead>
    <tr>
      <th>#</th>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Edad</th>
      <th>Carrera</th>
      <th>Universidad/Instituto</th>
      <th>Deporte</th>
      <th style="width: 50px;">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1.</td>
      <td>1</td>
      <td>Sahory</td>
      <td>Challco</td>
      <td>23</td>
      <td>Ing de Sistemas</td>
      <td>-</td>
      <td>de todo un poco</td>
      <td nowrap>
        <div class="d-flex gap-1">
          <button class="btn btn-md-custom btn-primary">Editar</button>
          <button class="btn btn-md-custom btn-danger">Eliminar</button>
          <button class="btn btn-md-custom btn-warning">Ver</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
